{% extends "base.html" %}
{% block title %}
    Food Truck Details
{% endblock title %}    

{% block content %}
    <div class="col-md-10 col-md-offset-1">
        <h2 class="blog-title">{{ truckObj.name }}</h2>
        {% if truckObj.image %}
            <p><img src="/media/{{ truckObj.image }}" alt="#" style="width:304px;height:228px;"></p>
            {% comment %} {{ MEDIA_URL }}{{ truckObj.image }} {% endcomment %}
        {% endif %}
        <p class="blog-description">{{ truckObj.description }}</p>
        <p>{{ truckObj.website }}</p>
        <p>{{ truckObj.contact_no }}</p>
        <p>{{ truckObj.emails }}</p>
        <p><a href="/truck/edit/{{truckObj.id}}">Update</a></p>
        <p><a href="/truck/delete/{{truckObj.id}}/">Delete</a></p>
    </div>
{% endblock %}