{% extends "base.html" %}
{% block title %}
    All Food Truck
{% endblock title %}    

{% block content %}
    <div class="col-md-10 col-md-offset-1">
        <!-- <table border="1">
            <thead>
                <tr>
                {% for column in columns %}
                    <th>{{column}}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for data in list %}
                <tr>
                    <td>{{ data.id }}</td>
                    <td><a href="#">{{ data.name }}</a></td>
                    <td>{{ data.website }}</td>
                    <td>{{ data.user }}</td>
                    <td>{{ data.contact_no }}</td>
                    <td>{{ data.emails }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table> -->
        <div>
            <h2>All the Truck list</h2>
            {% comment %} <ul>
                {% for truck in truck_list %}
                <li>
                    <a href="/truck/details/{{truck.id}}"></a>
                </li>
                {% endfor %}
            </ul> {% endcomment %}
            {% if truck_list %}
            <div class="list-group">
                <label class="list-group-item">
                    <div class="col-xs-1">
                        ID
                    </div>
                    <div class="col-md-3">
                        Name
                    </div>
                    <div class="col-md-2">
                        Created by
                    </div>
                    <div class="col-md-3">
                        Site
                    </div>
                        Contact No
                </label>
                {% for truck in truck_list %}
                <a href="/truck/details/{{truck.id}}" role="button" class="list-group-item">
                    <div class="col-xs-1">
                        {{ truck.id }}
                    </div>
                    <div class="col-md-3">
                        {{ truck }}
                    </div>
                    <div class="col-md-2">
                        {{ truck.user.first_name }}&nbsp;{{ truck.user.last_name }}
                    </div>
                    <div class="col-md-3">
                        {{ truck.website }}
                    </div>
                        {{ truck.contact_no }}
                </a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}