{% extends "../base.html" %}
{% block title %}
    User Login Page
{% endblock title %}    

{% block content %}
    <div class="col-md-10 col-md-offset-1">
        <form method="post" class="form-horizontal">
            {% csrf_token %}
            {% for field in form %}
            <div class="row">
                <div class="from-group">
                    <div class="col-md-2 control-label">{{ field.label_tag }}</div>
                    <div class="col-md-10">{{ field }}
                    <br>
                    {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="row">
                {% comment %} <div class="col-md-2"><input type="reset" class="btn btn-primary" value="Reset" /></div> {% endcomment %}
                <div class="col-md-2 col-md-offset-2"><input type="submit" class="btn btn-primary form-control" value="Login" /></div>
            </div>
        </form>
        <br>
        <div class="row">
            <div class="col-md-2"><a href="/signup/" class="btn btn-default form-control" role="button">Register here</a></div>
            <div class="col-md-3"><a href="/password_reset/" class="btn btn-default form-control" role="button">Forget Password?</a></div>
        </div>
    </div>
{% endblock %}